[submodule "data/recordings"]
	path = data/recordings
	url = git@github.com:schwittlick/cursor-recordings.git
[submodule "data/experiments"]
	path = data/experiments
	url = git@github.com:schwittlick/cursor-data.git
[submodule "data/compositions"]
	path = data/compositions
	url = git@github.com:schwittlick/compositions.git
